.DS_Store
.local/
.env
.env.*
!.env.example
*.pem
*.key
id_ed25519*
id_rsa*
*.log
*.qcow2
*.vdi
*.vmdk
*.iso
*.img
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
.terraform/
node_modules/
__pycache__/
.venv/
